h1 {
}

h2 {
}

/* #content {
  display: flex;
  flex-direction: row;
  width: 800px;
  background-color: blue;
}

#game {
  display: flex;
  flex-direction: column;
  background-color: pink;
  width: 100%;
}
 */
